@media screen and (max-width: 921px) {
	#burger {
		display: block;
	}

	.visible {
		display: none;
	}

	#menu_large {
	}

	#menu_large ul {
		position: absolute;
		left: 0;
		top: 80px;
		flex-direction: column;
		width: 100%;
		background-color: rgb(26, 108, 122);
		gap: 0;
	}

	#menu_large ul li {
		width: 100%;
		text-align: center;
	}

	#menu_large ul li a {
		padding: 0.5rem 0;
		display: block;
		width: 100%;
	}

	#menu_large button {
		display: none;
	}

	.images div {
		width: 100%;
	}
	main section.services {
		width: 100%;
	}
	main section.services article {
		width: 30vw;
		height: 30vw;
	}
}
@media screen and (max-width: 768px) {
	main section.services {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	main section.services article {
		width: 40vw;
		height: 40vw;
	}
	.amazing {
		flex-direction: column;
	}
	.amazing > article {
		width: 100%;
	}
}
@media screen and (max-width: 576px) {
	.images article {
		max-width: 50%;
	}
	.established{
		flex-direction: column;
		align-items: center;
	}
	.established > *{
		width: 90%;
	}
	footer .footer1 {
		width: 100vw;
		flex-direction: column;
	}
	footer .footer1 > div {
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 425px) {
	main section.services article {
		width: 60vw;
		height: 60vw;
	}
	.images article {
		max-width: 100%;
	}
}
